*{
    margin: 0;
    padding: 0;
}
.container{
   padding: 30px; 
   display: grid;
   gap: 10px;
   grid-template-columns: repeat(4 ,1fr);
}
h1{
    text-align: center;
    color: #f0f8ff;
}
body{
    background-color: #2c2e54;
}
.item{
    padding: 30px;
}
.green{
background-color: #61be5b;
}
.yellow{
    background-color:#feb342;
}
.red{
    background-color:#f33937;
}
#box-2{
    grid-column: 2/4;
}
#box-1{
    grid-row: 1/4;
}
#box-6{
    grid-column: 4/5;
    grid-row: 2/4;
}
